body{
    background:rgb(54, 54, 54) ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-image: url(582318.jpg);
}
.topdawn {
    background: rgba(68, 113, 139, 0);
    color: rgb(255, 255, 255);
    padding: 0px 0px;
    margin:auto;
    border:solid rgba(0, 0, 0, 0)  ;
    border-radius: 1em;
}
.topdawn h1 {
   text-align: center;
} 

.midnav li{
    display: inline;
    padding: 10px;
    margin:20px;
    text-decoration: none;
    font-weight: 700;
    
}
.midnav  {
    background-color:#82658d00 ;
    list-style:disc ;
    padding:5px ;
    margin:5px  10px ;
    border-radius: 1em  ;
    border: solid rgba(0, 0, 0, 0);
    text-align: center;
}
a{
    text-decoration-line: none;
    color: rgb(255, 253, 253);
    
}
.midli li{
    padding-bottom:20px ;
    display: block;
     

}  
.midli li:first-child{
    background-color: #724e4e00;
    border: solid  rgba(255, 255, 255, 0);
    border-radius: 1em;
    text-align: center;
    padding-top:10px;
    font-weight:700 ;
    font-size: larger;
    margin-right:30px ;
    
}
.midli li:nth-child(2){
    padding-bottom:20px ;
    display: block;

}
.midli li:nth-child(2){
    background-color: #55815900;
    border: solid rgba(255, 255, 255, 0);
    border-radius: 1em;
    text-align: center;
    padding-top:10px;
    font-weight:700 ;
    font-size: larger;
    margin-right:30px ; 
}
.midli li:nth-child(3){
    padding-bottom:20px ;
    display: block;
}
.midli li:nth-child(3){
    background-color: #959e6c00;
    border: solid rgba(255, 255, 255, 0);
    border-radius: 1em;
    text-align: center;
    padding-top:10px;
    font-weight:700 ;
    font-size: larger;
    margin-right:30px ; 
}
.midli li:nth-child(4){
    padding-bottom:20px ;
    display: block;
}
.midli li:nth-child(4){
    background-color: #964c4c00;
    border: solid rgba(255, 255, 255, 0);
    border-radius: 1em;
    text-align: center;
    padding-top:10px;
    font-weight:700 ;
    font-size: larger;
    margin-right:30px ; 
}
.po{
   background: #00000000;
   color: rgb(230, 227, 227);
   text-align: center;
}
@media(max-width:600px){
    .midul{
        width: 100%;
        float: none;

    }
    .mid{
        width: 100%;
        float: none;
        
    }
}